
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="Title">Ingresa tu correo
      <p class="subTitle">Para recibir un link de reset de contraseña</p></ion-title>
  </div>
  <ion-item>
    <ion-input (NgModel)= "email" placeholder="Enter your email" class="input" formControlName = "email"></ion-input>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button (click)="resetpassword()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
