.custom-header {
    background-color: #007bff; /* Cambia esto al color deseado */
    color: white;
  }
  
  .custom-card {

    margin: 10px;
  }
  
  .description-label {
    display: flex;
    justify-content: flex-end;
  }
  